/* CSS used to style boxes in the media query demo page */
body{
    background: lightgray


}

/* specify dimensions for all boxes in the page */
.box{
    width: 200px;
    height: 200px;
}

.greenbox{
    /* colors a box green */
    background: green 
}

.redbox{
    /* color a box red */
    background: red;
}

.bluebox{
    /* color a box blue*/
    background: blue;
}


.violetbox{
    /* color a box violet */
    background: violet;
}

.yellowbox{
    /* color a box yellow */
    background: yellow;
}

/* use @media handle to implement a media query */

@media ( max-width: 600px)
{
    /* to modify greenbox*/
    .greenbox{
        background: navy;
    }

    /* modify the redbox  to display circle */
    .redbox{
    border-radius: 50%;
    border: dold 2px black;
}

/* make the bluebox something  fun */

.bluebox{
    transform: rotate(360deg);
    transition: transform 1.0s ease-in;
}

/* make the violetbox disappear */
.violetbox{
    display: none;
}
}


