h1{ 
    font-size: 80px;
}

/* comments in css */

.blue{
    color: blue;
}

.red{
    color: red
}


#purple{
    color: purple
}


.alignLeft{
    text-align: left;
}

.alighlCenter{
    text-align: Center;
}

.alignRight{
    text-align: right;
}

.white{
    color: white;
}

.blackBackground{
    background-color: black;
}

body{
   background-color: bisque; 
}